/*Дисплей калькулятора*/
.calc_display {
    resize: none;
    background-color: white;
    font-size: 50px;
    width: 400px;
    height: 70px;
    text-align: right;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}
 
/*Все кнопки калькулятора не имеют отступов*/
.calc td {
    padding: 0;
}
 
/*Все кнопки калькулятора*/
.calc button {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    cursor: pointer;
    border: none;
    transition: all .1s;
}
 
/*Все кнопки калькулятора при наведении*/
.calc button:hover {
    background-color: lightyellow;
}